* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.header {
  border-bottom: 1px solid #e7e7e7;
  min-height: 70px;
}

.headerTopNav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  border-bottom: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.navMenuListItem:not(:first-child) {
  border-left: 1px solid #e7e7e7;
}

.navMenuListItem:last-child {
  border-right: 1px solid #e7e7e7;
}

.navMenuListItem:first-child {
  padding-left: 0;
}

.navMenuListItem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 31px;
}

.headerTopNav .headerTopNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}

.headerNav > .headerNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.menuListItem > .menuListLink,
.featuresSignIn {
  font-size: 14px;
  color: #2f2f2f;
  line-height: 171%;
}

.featuresSignIn {
  padding-right: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 55px;
}

.headerFeaturesForm {
  width: 100%;
  max-width: 279px;
}
@media (585px >= width) {
  .headerFeaturesForm {
    display: none;
  }
}

.headerFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.walletIcon,
.basketIcon {
  width: 24px;
  height: 24px;
}

[type=text] {
  width: 100%;
  max-width: 259px;
  height: 30px;
  border: 1px solid #e7e7e7;
  background: #f5f5f5;
  padding: 10px;
  color: #2f2f2f;
  caret-color: #2f2f2f;
}

.featuresNavIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

@media only screen and (1101px >= width) {
  .headerContainer {
    padding: 18px 45px;
  }
  .walletIcon,
  .basketIcon {
    max-width: 20px;
    max-height: 20px;
  }
}
@media only screen and (900px >= width) {
  .headerNav {
    display: none;
  }
  .navMenuListItem {
    font-size: 12px;
  }
}
@media only screen and (768px >= width) {
  .navMenuListItem {
    padding: 0 10px;
  }
  .featuresSignIn {
    font-weight: 500;
  }
}
@media only screen and (525px >= width) {
  .headerContainer {
    padding-inline: 20px;
  }
  .headerTopNav {
    width: 100%;
    padding-inline: 20px;
  }
  .navMenuListItem {
    font-size: 10px;
  }
  .navMenuListItem:nth-child(3) {
    display: none;
  }
  .navMenuListItem:nth-child(2) {
    border-right: 1px solid #e7e7e7;
  }
}
.footer {
  min-height: 100vh;
  padding: 0 30px;
}

.footerContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  padding-inline: 32px;
  -webkit-margin-after: 32px;
          margin-block-end: 32px;
  -webkit-padding-after: 32px;
          padding-block-end: 32px;
  height: 100%;
  background: #f6f8fa;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 65px;
}

.footerTopInfoBlock {
  padding: 39px 0px 32px 0px;
}

.topInfoBlockCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topInfoCard {
  width: 100%;
  max-width: 309px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}

.topInfoImage {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.smallInfoImage {
  height: 136px;
  -o-object-fit: contain;
     object-fit: contain;
}

.topInfoCardTitle {
  line-height: 150%;
  color: #2f2f2f;
}

.topInfoCardSubTitle {
  line-height: 171%;
  font-size: 14px;
}

.justFoundBlock {
  width: 100%;
  max-width: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}

.justFoundBlock > .justFoundTitle {
  line-height: 133%;
  width: 100%;
  max-width: 252px;
  color: #2f2f2f;
  font-size: 24px;
}

.justFoundIconsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.justFoundSubTitle {
  line-height: 300%;
  color: #2f2f2f;
  font-size: 8px;
}

.addTitle {
  line-height: 200%;
  color: #2f2f2f;
  font-size: 12px;
}

.footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 68px;
  padding-bottom: 71px;
  border-bottom: 1.5px solid #c5c5c5;
}

.footerMenuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 137px;
}
@media (630px >= width) {
  .footerMenuItems {
    display: -ms-grid;
    display: grid;
  }
}

.primaryMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}
@media (600px >= width) {
  .primaryMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 118px;
  }
}

.companyAndSecondaryBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.sustainabilityMenu,
.designMenu,
.companyMenu,
.resourcesMenu,
.contactMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.menuFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.secondaryMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media (600px >= width) {
  .secondaryMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#title {
  line-height: 150%;
  color: #2f2f2f;
}

.footerMenuListItem {
  line-height: 171%;
  color: #2f2f2f;
  font-size: 14px;
}

.footerListItemCareers {
  line-height: 171%;
  color: #2f2f2f;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

#hiringSubMark {
  display: block;
  width: 100%;
  max-width: 77px;
  padding: 4px;
  background: #3b61ff;
  line-height: 160%;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}

.footerCopyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyrightTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.copyrightTitle {
  line-height: 171%;
  color: #2f2f2f;
  font-size: 14px;
}

.copyrightSubTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  line-height: 171%;
  color: #2f2f2f;
  font-size: 14px;
}
.copyrightSubTitle::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #2f2f2f;
}

.socialIconsLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.trustpilotLogo {
  -webkit-margin-after: 4px;
          margin-block-end: 4px;
}

.footerBottomMenu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-after: 48px;
          margin-block-end: 48px;
}

.bottomMenuInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paymentTitle,
.paymentSubTitle {
  line-height: 200%;
  color: #2f2f2f;
  font-size: 12px;
}

.bottomAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 200%;
  color: #2f2f2f;
  font-size: 12px;
  font-style: normal;
}

.paymentIconsItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
}

.paymentIcon {
  padding: 4px 5px;
  border: 2px solid #e7e7e7;
}

@media only screen and (1101px >= width) {
  .footerMenuItems {
    gap: 60px;
  }
  .footerMenu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .justFoundBlock {
    max-width: 230px;
    gap: 15px;
  }
  .justFoundBlock > .justFoundTitle {
    font-size: 20px;
  }
  .justFoundIcon {
    max-width: 80%;
    max-height: 80%;
  }
}
@media only screen and (900px >= width) {
  .footerMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerMenuItems {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .copyrightTitles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .copyrightSubTitle::before {
    display: none;
  }
}
@media only screen and (768px >= width) {
  .paymentIcon {
    max-width: 32px;
    max-height: 32px;
    border-width: 1px;
  }
  .socialIconsLogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footerContainer {
    gap: 35px;
  }
  .smallInfoImage {
    max-height: 90px;
  }
  .footerContainer {
    padding-inline: 15px;
    -webkit-padding-after: 10px;
            padding-block-end: 10px;
    gap: 20px;
  }
  .footerCopyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .copyrightTitles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .paymentSubTitle {
    max-width: 150px;
  }
}
@media only screen and (525px >= width) {
  .companyAndSecondaryBlock,
  .primaryMenu {
    max-width: 100%;
  }
  .footerMenuItems {
    max-width: 100%;
  }
  .footerTopInfoBlock {
    padding: 30px 0px 25px 0px;
  }
  .secondaryMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footerBottomMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .paymentSubTitle {
    max-width: 100%;
  }
  .bottomAddress {
    gap: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topInfoCardTitle,
  .topInfoCardSubTitle {
    font-size: 10px;
  }
}
.hero {
  padding: 60px 40px;
  padding-bottom: 0;
  margin-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 720px;
  border-radius: 16px;
}

.mainBanner {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 600px;
}
@media (max-width: 1000px) {
  .mainBanner {
    max-width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 40px;
  }
}

.heroInformationBlock {
  position: relative;
  width: 100%;
  padding: 70px 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  z-index: 5;
}

.heroTitlesBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.heroTitle {
  width: 100%;
  max-width: 362px;
  line-height: 120%;
  font-size: 40px;
  color: #2f2f2f;
}

.heroSubTitle {
  width: 100%;
  max-width: 391px;
  line-height: 160%;
  font-size: 20px;
  color: #2f2f2f;
}

.heroButtonsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.customizeButton {
  border: none;
  width: 100%;
  max-width: 253px;
  background: #3b61ff;
  border-radius: 4px;
  padding: 16px 42px;
  font-size: 23px;
  line-height: 139%;
  color: #fff;
}

.buyStockButton {
  border: 2px solid #2f2f2f;
  width: 100%;
  max-width: 308px;
  background: transparent;
  border-radius: 4px;
  padding: 16px 42px;
  line-height: 133%;
  font-size: 23px;
  color: #2f2f2f;
}

.heroFeaturesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}

.subListBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.listItem {
  line-height: 150%;
  color: #2f2f2f;
  font-size: 16px;
}

.heroProducts {
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.compainsTitle {
  line-height: 200%;
  text-transform: uppercase;
  color: #2f2f2f;
  font-size: 12px;
}

.productsLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.productLogo {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-animation: scaleUp 1s ease-in-out forwards;
          animation: scaleUp 1s ease-in-out forwards;
}
.productLogo:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-animation: none;
          animation: none;
}

.productLogo:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.productLogo:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.productLogo:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.productLogo:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.productLogo:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.productLogo:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media only screen and (1101px >= width) {
  .hero {
    -webkit-padding-before: 40px;
            padding-block-start: 40px;
    margin-bottom: 100px;
  }
  .heroContainer {
    min-height: 375px;
  }
  .heroInformationBlock {
    -webkit-padding-before: 35px;
            padding-block-start: 35px;
    max-width: 65%;
    max-height: 85%;
  }
  .heroTitlesBlock {
    gap: 12px;
  }
  .heroTitle {
    font-size: 28px;
  }
  .heroSubTitle {
    font-size: 14px;
    max-width: 262px;
  }
  .customizeButton {
    font-size: 12px;
    -webkit-padding-before: 14px;
            padding-block-start: 14px;
    max-width: 170px;
  }
  .buyStockButton {
    font-size: 12px;
    -webkit-padding-before: 14px;
            padding-block-start: 14px;
    max-width: 200px;
  }
  .heroFeaturesList {
    gap: 45px;
  }
  .mainBanner {
    bottom: 25px;
    max-height: 415px;
  }
  .productsLogos {
    gap: 20px;
  }
  .productLogo {
    max-width: 106px;
  }
  .productLogo:nth-child(5) {
    -webkit-margin-before: 5px;
            margin-block-start: 5px;
  }
  .heroProducts {
    bottom: -40px;
    gap: 5px;
  }
  .compainsTitle {
    font-size: 10px;
  }
  .listItem {
    font-size: 12px;
  }
  .navMenuListItem:last-child {
    display: none;
  }
}
@media only screen and (768px >= width) {
  .heroContainer {
    max-height: 400px;
  }
  .heroInformationBlock {
    -webkit-padding-start: 15px;
            padding-inline-start: 15px;
  }
  .heroTitle {
    font-size: 24px;
  }
  .heroButtonsBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .heroFeaturesList {
    display: none;
  }
  .customizeButton {
    max-width: 200px;
  }
  .productLogo {
    max-width: 60px;
  }
  .mainBanner {
    max-width: 65%;
  }
}
@media only screen and (525px >= width) {
  .hero {
    padding-inline: 0;
  }
  .heroInformationBlock {
    -webkit-padding-start: 12px;
            padding-inline-start: 12px;
  }
  .customizeButton {
    max-width: 140px;
    padding: 14px;
  }
  .buyStockButton {
    max-width: 144px;
    padding: 14px;
  }
  .productLogo:nth-child(5) {
    display: none;
  }
  .productLogo:nth-child(6) {
    display: none;
  }
  .mainBanner {
    bottom: 40px;
  }
}
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
}

.productsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.primaryProductsFirst,
.primaryProductsSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.productsTitlesBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding-right: 32px;
}

.productsSubtitlesSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 32px;
}

.productsTitlesBlockSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.productsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
}

.productsTitleMark {
  color: #949494;
}

.productsSubtitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (410px >= width) {
  .mainTitles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.primarySubtitle {
  position: relative;
  line-height: 160%;
  font-size: 20px;
  color: #2f2f2f;
}

.primarySubtitle:last-child::after {
  position: absolute;
  content: ".";
  right: -20px;
}

.grayCircles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.grayCircle {
  border: 1.5px solid #c5c5c5;
  border-radius: 200px;
  width: 32px;
  height: 32px;
}

.productsCards {
  width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-bottom: 88px;
}

.productCard {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.cardImageBlock {
  border-radius: 16px;
  width: 100%;
  max-width: 304px;
  height: 424px;
  background: #f6f8fa;
}

.cardTitle {
  line-height: 150%;
  color: #2f2f2f;
}

.secondarySubTitle {
  font-size: 20px;
  line-height: 160%;
}

@media only screen and (1101px >= width) {
  .products {
    margin-bottom: 50px;
  }
  .productsTitle {
    font-size: 28px;
  }
  .productsTitlesBlock {
    gap: 18px;
  }
  .grayCircles > .grayCircle {
    max-width: 28px;
    max-height: 28px;
  }
  .cardImageBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 250px;
    max-height: 340px;
  }
  .productImage {
    max-width: 80%;
  }
  .toRight {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .mediumImageSize {
    max-width: 93%;
  }
}
@media only screen and (900px >= width) {
  .productsTitle {
    font-size: 22px;
  }
  .primarySubtitle {
    font-size: 16px;
  }
  .productsTitlesBlock {
    gap: 14px;
  }
  .grayCircles > .grayCircle {
    max-width: 24px;
    max-height: 24px;
  }
  .productCard,
  .cardImageBlock {
    max-width: 300px;
  }
}
@media only screen and (768px >= width) {
  .productsCards {
    padding-right: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .productCard,
  .cardImageBlock {
    max-width: 100%;
  }
  .productCard {
    gap: 25px;
  }
  .cardImageBlock {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .right {
    position: absolute;
    right: 31px;
  }
  .mediumImageSize {
    max-width: 37%;
  }
  .cardTitle {
    font-size: 20px;
  }
}
@media (530px >= width) {
  #productsTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media only screen and (525px >= width) {
  .primarySubtitle {
    font-size: 12px;
  }
  .productsCards {
    padding-bottom: 44px;
  }
}
.sustainability {
  margin-bottom: 160px;
}

.sustainabilityContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.sustainabilityTitleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sustainabilityTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
}

.sustainabilityMark {
  color: #949494;
}

.sustainabilityItemsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.itemBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  padding: 40px 0 0 0;
  width: 100%;
  border-radius: 16px;
  max-width: 536px;
  height: 592px;
  background: #5f6455;
}

.titlesItemsBlock {
  position: relative;
  padding-left: 40px;
}

.itemsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  position: absolute;
  bottom: -85px;
}

.item {
  color: #fff;
  font-size: 14px;
}

.light-bg {
  background: #e7e1c3;
  position: relative;
}

.primaryBannerImage {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.secondaryBannerImage {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  bottom: -45px;
}

.itemSubtitle {
  line-height: 200%;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

.secondarySubTitle,
.secondaryTitleColor {
  color: #2f2f2f !important;
}

.readMoreButton {
  position: absolute;
  bottom: -115px;
  border: 2px solid #2f2f2f;
  border-radius: 2px;
  width: 100%;
  max-width: 118px;
  line-height: 100%;
  padding: 14px 18px;
  color: #2f2f2f;
  background: transparent;
}

.itemTitle {
  width: 100%;
  max-width: 350px;
  line-height: 133%;
  font-size: 24px;
  color: #fff;
}

@media only screen and (1101px >= width) {
  .sustainabilityTitle {
    font-size: 28px;
  }
}
@media only screen and (900px >= width) {
  .sustainabilityTitle {
    font-size: 22px;
  }
  .itemBlock {
    max-height: 450px;
    max-width: 100%;
  }
  .itemTitle {
    font-size: 20px;
  }
  .sustainabilityItemsBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .primaryBannerImage {
    position: absolute;
    right: 0;
  }
  .primaryBannerImage,
  .secondaryBannerImage {
    max-height: 83%;
    max-width: 75%;
  }
  .secondaryBannerImage {
    bottom: 0;
  }
}
@media only screen and (768px >= width) {
  .itemBlock {
    position: relative;
  }
  .primaryBannerImage {
    right: 1px;
    top: 140px;
  }
}
@media only screen and (525px >= width) {
  .sustainabilityTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .primaryBannerImage {
    top: 220px;
  }
  .titlesItemsBlock {
    padding-left: 20px;
  }
}
.packhelpDifference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 168px;
}

.packhelpDifferenceContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.differenceTitles {
  width: 100%;
}

.differenceTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
}

.differenceMark {
  color: #949494;
}

.differenceCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.differenceCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 25px;
  border: 1.5px solid #e7e7e7;
  border-radius: 16px;
  width: 100%;
  max-width: 368px;
  height: 226px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.cardIcon {
  width: 24px;
  height: 24px;
}

.cardSubtitle {
  max-width: 230px;
  line-height: 160%;
  font-size: 20px;
  color: #2f2f2f;
}

.grayMark {
  color: #949494;
}

@media only screen and (1101px >= width) {
  .packhelpDifference {
    margin-bottom: 100px;
  }
  .differenceTitle {
    font-size: 26px;
  }
  .differenceCard > .cardSubtitle {
    font-size: 18px;
  }
}
@media only screen and (900px >= width) {
  .differenceTitle {
    font-size: 22px;
  }
  .differenceCard {
    max-width: 100%;
    max-height: 200px;
  }
  .differenceCard > .cardSubtitle {
    font-size: 14px;
  }
  .differenceCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (768px >= width) {
  .differenceTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .differenceCard {
    max-height: 155px;
    padding: 20px;
  }
}
.software {
  margin-bottom: 160px;
}

.softwareContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.softwareTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.softwareTitle {
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
}

.titleSubMark {
  line-height: 125%;
  color: #949494;
}

.designSourceBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.designBlock {
  padding: 40px 0 0 40px;
  width: 100%;
  max-width: 560px;
  border-radius: 16px;
  height: 426px;
  background: #5f6455;
}

.sourceBlock {
  padding: 40px 0 0 40px;
  width: 100%;
  max-width: 560px;
  border-radius: 16px;
  height: 426px;
  background: #f9f5ed;
}

.designTitle {
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  padding-bottom: 1rem;
}

.sourceTitle {
  font-size: 24px;
  line-height: 133%;
  color: #2f2f2f;
  padding-bottom: 1rem;
}

.designItems,
.sourceItems {
  width: 100%;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.designItem,
.sourceItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.designItem {
  border-radius: 24px;
  width: 100%;
  max-width: 134px;
  height: 40px;
  background: #d0d4bd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sourceItem {
  border-radius: 24px;
  width: 100%;
  max-width: 134px;
  height: 40px;
  background: #e7e1c3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.designItemTitle,
.sourceItemTitle {
  line-height: 218%;
  font-size: 11px;
}

.bigMaxWidth {
  max-width: 213px;
}

.bixMaxWidthLarge {
  max-width: 170px;
}

.maxWidthLargeSecondary {
  max-width: 154px;
}

.softwareImageButtonSubBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#buttonAbsolute {
  position: relative;
  bottom: 40px;
}

.primaryButton {
  width: 100%;
  line-height: 100%;
  height: 49px;
  border: 2px solid #fff;
  max-width: 149px;
  color: #fff;
  border-radius: 2px;
  background-color: transparent;
}

.secondaryButton {
  width: 100%;
  line-height: 100%;
  height: 49px;
  border: 2px solid #2f2f2f;
  max-width: 171px;
  color: #2f2f2f;
  border-radius: 2px;
  background-color: transparent;
}

.blockImage {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (1101px >= width) {
  .softwareTitle {
    font-size: 28px;
  }
}
@media only screen and (900px >= width) {
  .softwareTitle {
    font-size: 22px;
  }
  .designBlock,
  .sourceBlock {
    padding: 25px 0 0 25px;
    max-height: 402px;
    max-width: 100%;
  }
  .designTitle,
  .sourceTitle {
    font-size: 18px;
  }
  .blockImage {
    max-height: 100%;
  }
  .designSourceBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (768px >= width) {
  .softwareTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (530px >= width) {
  .softwareTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.services {
  margin-bottom: 168px;
}

.servicesContainer {
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.servicesTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicesTitle {
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
}

.servicesSubMark {
  line-height: 125%;
  color: #949494;
}

.servicesCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.servicesCard {
  width: 100%;
  border-radius: 16px;
  max-width: 368px;
  height: 495px;
  background: #f6f8fa;
  padding: 65px 0 0 32px;
  padding-right: 15px;
  position: relative;
}

.servicesCardTitle {
  line-height: 133%;
  color: #2f2f2f;
  font-size: 24px;
  max-width: 148px;
  height: 70px;
}

.firstTitle {
  max-width: 100%;
}

.servicesCardSubTitle {
  line-height: 150%;
  color: #2f2f2f;
  max-width: 222px;
  min-height: 100px;
}

.more {
  margin-top: 22px;
  color: #2f2f2f;
  background-color: transparent;
}

.servicesCardImage {
  position: absolute;
  right: 32px;
  bottom: 36px;
}

@media only screen and (1101px >= width) {
  .servicesTitle {
    font-size: 28px;
  }
  .servicesCard {
    padding: 32px;
  }
  .servicesCardTitle {
    font-size: 20px;
  }
  .servicesCardImage {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (900px >= width) {
  .servicesTitle {
    font-size: 22px;
  }
  .servicesCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicesCard {
    max-width: 100%;
    max-height: 380px;
  }
}
@media only screen and (768px >= width) {
  .servicesCardSubTitle {
    max-width: 350px;
  }
  .servicesCard {
    max-height: 295px;
  }
  .servicesCardImage {
    max-width: 100px;
    max-height: 100px;
  }
}
@media (530px >= width) {
  .servicesTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media only screen and (525px >= width) {
  .servicesCardImage {
    bottom: 15px;
  }
}
.needs {
  margin-bottom: 168px;
}

.needsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.needsTitles {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.needsTitle {
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.needsSubMark {
  line-height: 125%;
  color: #949494;
}

.needsCards {
  width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.needCard {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: calc(33.3333333333% - 16px);
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
  aspect-ratio: 2.4/4;
}

.needCardContainer {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.needCard:nth-child(1) {
  width: 100%;
  max-width: 100%;
  background: url(../images/needs/primary.svg) no-repeat center center;
}

.needCard:nth-child(2) {
  width: 100%;
  max-width: 100%;
  background: url(../images/needs/secondary.svg) no-repeat center center;
}

.needCard:nth-child(3) {
  width: 100%;
  max-width: 100%;
  background: url(../images/needs/tertiary.svg) no-repeat center center;
}

.cardContainer {
  padding: 32px 0 0 32px;
}

.cardTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.cardSubMark {
  line-height: 133%;
  color: #fff;
  font-size: 24px;
}

.needCardTitle {
  line-height: 133%;
  color: #fff;
  font-size: 24px;
}

.cardTitleBlack,
.cardSubMarkBlack {
  color: #2f2f2f;
}

.cardTopBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.needCardButton {
  color: #fff;
  border: 2px solid #fff;
  line-height: 100%;
  background: transparent;
  padding: 14px 18px;
  border-radius: 2px;
}

.needCardButtonSecondary {
  color: #2f2f2f;
  border: 2px solid #2f2f2f;
}

.flagIcon {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  width: 24px;
  height: 24px;
  border-radius: 200px;
  border: 2px solid #fff;
}

.cardBottomBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottomMenuTitle {
  line-height: 150%;
  color: #fff;
  max-width: 120px;
}

.blackMenuTitle {
  color: #2f2f2f;
}

.moreTitleWidth {
  max-width: 130px;
}

@media only screen and (1101px >= width) {
  .needsTitle {
    font-size: 28px;
  }
  .needCard {
    max-height: 400px;
  }
  .needCardContainer {
    padding: 20px;
  }
  .needCardTitle {
    font-size: 20px;
  }
  .cardSubMark {
    font-size: 20px;
  }
}
@media only screen and (900px >= width) {
  .needsTitle {
    font-size: 22px;
  }
  .needsContainer {
    padding-right: 30px;
  }
  .needCardTitle,
  .cardSubMark {
    font-size: 16px;
  }
  .needCardButton {
    padding: 12px 10px;
  }
}
@media only screen and (768px >= width) {
  .needsTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .needsCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .needCard:nth-child(1),
  .needCard:nth-child(2),
  .needCard:nth-child(3) {
    max-width: 81%;
  }
}
@media (530px >= width) {
  .needsTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.testimonials {
  margin-bottom: 168px;
}

.testimonialsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.testimonialsTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonialsTitle {
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.testimonialsSubMark {
  line-height: 125%;
  color: #949494;
}

.testimonialsCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.testimonialCardContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  height: 100%;
}

.testimonialInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 37px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.testimonialCard:nth-child(2) {
  background: #e7e1c3;
}

.testimonialCard {
  width: 100%;
  max-width: 100%;
  height: 668px;
  border-radius: 16px;
  background: #f9f5ed;
}

.testimonialCardSubTitle {
  line-height: 133%;
  font-size: 24px;
  color: #2f2f2f;
}

.testimonialCardSubTitle:first-child {
  padding-top: 69px;
}

.testimonialBottomMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.menuAvatar {
  border: 2px solid #fff;
  outline: 1.5px solid #e7e7e7;
}

.menuTitlePrimary {
  line-height: 150%;
  color: #2f2f2f;
}

.menuSubTitlePrimary {
  line-height: 150%;
  color: #2f2f2f;
}

@media only screen and (1101px >= width) {
  .testimonialsTitle {
    font-size: 28px;
  }
  .testimonialCard {
    max-height: 555px;
  }
  .testimonialCardSubTitle {
    font-size: 18px;
  }
}
@media only screen and (900px >= width) {
  .testimonialCardContainer {
    padding: 28px;
  }
  .testimonialsTitle {
    font-size: 22px;
  }
  .testimonialCard {
    max-height: 530px;
  }
  .testimonialCardSubTitle {
    font-size: 16px;
  }
  .testimonialsCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonialCard {
    max-height: 300px;
  }
}
@media only screen and (768px >= width) {
  .testimonialsTitle {
    font-size: 18px;
  }
  .grayCircles {
    display: none;
  }
}
@media only screen and (525px >= width) {
  .testimonialCardContainer {
    gap: 20px;
  }
  .testimonialCard {
    max-height: 355px;
  }
  .testimonialsTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.people {
  margin-bottom: 184px;
}

.peopleContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.peopleTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  line-height: 125%;
  color: #2f2f2f;
  font-size: 32px;
}

.peopleSubMark {
  line-height: 125%;
  color: #949494;
}

.firstBanner {
  border-radius: 16px;
  width: 100%;
  max-width: 552px;
  background: #f6f8fa;
}

.bannerContainer {
  padding: 32px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.peopleBannersBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  height: 100%;
}

.firstBannerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 88px;
  line-height: 133%;
  color: #2f2f2f;
  font-size: 24px;
}

.bannerImage {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-button=helloBtn] {
  background: #3b61ff;
  padding: 14px 18px;
  line-height: 107%;
  border-radius: 2px;
  color: #fff;
}

.otherBanners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.secondBanner {
  padding: 32px 0 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 16px;
  max-width: 552px;
  height: 297px;
  background: #f6f8fa;
}

.thirdBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  padding: 32px;
  width: 100%;
  border-radius: 16px;
  max-width: 552px;
  height: 297px;
  background: #f6f8fa;
}

.secondTitle {
  line-height: 133%;
  color: #2f2f2f;
  font-size: 24px;
}

.secondBannerImage {
  width: 100%;
  height: auto;
  -o-object-position: 0px 9px;
     object-position: 0px 9px;
}

.thirdBannerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 133%;
  color: #2f2f2f;
  font-size: 24px;
}

.thirdBannerSubMark {
  color: #949494;
}

.thirdBannerImage {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (1101px >= width) {
  .peopleTitle {
    font-size: 28px;
  }
}
@media only screen and (900px >= width) {
  .peopleTitle {
    font-size: 22px;
  }
  .peopleBannersBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstBanner,
  .secondBanner,
  .thirdBanner {
    max-width: 100%;
  }
  .bannerContainer {
    max-width: 100%;
    position: relative;
  }
  .bannerImage {
    position: absolute;
    max-width: 40%;
    right: 0;
  }
  .secondBannerImage {
    z-index: 3;
    max-width: 100%;
  }
  .people {
    margin-bottom: 100px;
  }
}
@media only screen and (525px >= width) {
  .thirdBanner {
    max-height: 240px;
  }
  .peopleTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .firstBannerTitle {
    gap: 45px;
  }
  .secondBanner, .thirdBanner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 45px;
  }
  .thirdBannerImage {
    position: relative;
    bottom: 25px;
  }
}
body {
  font-family: "Roboto";
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}