@use '../scss/base/reset';
@use '../scss/fonts/fonts';
@use '../scss/layouts/header';
@use '../scss/layouts/footer';
@use '../scss/sections/hero';
@use '../scss/sections/products';
@use '../scss/sections/sustainability';
@use '../scss/sections/difference';
@use '../scss/sections/software';
@use '../scss/sections/services';
@use '../scss/sections/needs';
@use '../scss/sections/testimonials';
@use '../scss/sections/people';

body {
  font-family: 'Roboto';
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  min-height: 100vh;
  flex: 1 1 auto;
}
