@use '../../scss/colors/colors' as color;
@use '../../scss/abstracts/globals' as size;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/media-mixins' as *;

.people {
  margin-bottom: 184px;
}

.peopleContainer {
  @include mainContainer;
  padding: 0 30px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.peopleTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  @include sectionTitle;
}

.peopleSubMark {
  @include sectionSubMark;
}

.firstBanner {
  border-radius: 16px;
  width: 100%;
  max-width: 552px;
  background: color.$primary-banner-background;
  flex-grow: 1;
  max-width: none;
}

.bannerContainer {
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.peopleBannersBlock {
  display: flex;
  gap: 16px;
  height: 100%;
}

.firstBannerTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 53px;
  line-height: 133%;
  color: color.$primary-link-color;
  font-size: size.$primary-card-title;
}

.bannerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bannerButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: color.$primary-customize-color;
  padding: 14px 18px;
  width: 100%;
  max-width: 100px;
  line-height: 107%;
  border-radius: 2px;
  color: color.$primary-natural-white;
  border: color.$primary-natural-white solid 0.15em;
  border-radius: 0.25em;
  color: color.$primary-natural-white;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  font-size: size.$primary-list-item-size;
}

.bannerButton::after,
.bannerButton::before {
  content: '';
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: color.$primary-natural-white;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.bannerButton::before {
  left: 0;
  transform: translateX(-8em);
}

.bannerButton::after {
  right: 0;
  transform: translateX(8em);
}

.bannerButton:hover {
  color: color.$primary-natural-white;
}

.bannerButton:hover::before {
  transform: translateX(-1em);
  color: color.$primary-natural-white;
}

.bannerButton:hover::after {
  transform: translateX(1em);
  color: color.$primary-natural-white;
}



.otherBanners {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.secondBanner {
  padding: 32px 0 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 16px;
  max-width: 552px;
  height: 297px;
  background: color.$primary-banner-background;
  flex-grow: 1;
  max-width: none;
}

.thirdBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 32px;
  width: 100%;
  border-radius: 16px;
  max-width: 552px;
  height: 297px;
  background: color.$primary-banner-background;
  flex-grow: 1;
  max-width: none;
}

.secondTitle {
  line-height: 133%;
  color: color.$primary-link-color;
  font-size: size.$primary-card-title;
}

.secondBannerImage {
  width: 100%;
  height: auto;
  object-position: 0px 9px;
}

.thirdBannerTitle {
  display: flex;
  flex-direction: column;
  line-height: 133%;
  color: color.$primary-link-color;
  font-size: size.$primary-card-title;
}

.thirdBannerSubMark {
  color: color.$primary-light-gray;
}

.thirdBannerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 80%;
}

@include byTablet {
  .peopleTitle {
    @include sectionTitleMedium;
  }
}

@include byTabletSmall {
  .peopleTitle {
    @include sectionTitleSmall;
  }
  .peopleBannersBlock {
    flex-direction: column;
  }
  .firstBanner,
  .secondBanner,
  .thirdBanner {
    position: relative;
    max-width: 100%;
    max-height: 210px;
  }
  .bannerContainer {
    max-width: 100%;
    position: relative;
  }
  .bannerImage {
    position: absolute;
    max-width: 40%;
    right: 0;
    bottom: 0;
  }
  .secondBannerImage {
    z-index: 3;
    position: absolute;
    max-width: 85%;
    right: 0;
    bottom: 0;
  }
  .people {
    margin-bottom: 100px;
  }
}

@include toMobile {
  .peopleContainer {
    @include containerPaddings;
  }
  .thirdBanner {
    max-height: 240px;
  }
  .peopleTitle {
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }

  .firstBannerTitle {
    gap: 45px;
  }
  .secondBanner,
  .thirdBanner {
    justify-content: space-between;
    gap: 45px;
  }
  .thirdBannerImage {
    position: relative;
    bottom: 25px;
  }
}
