@use '../../scss/colors/colors' as color;
@use '../../scss/abstracts/globals' as size;
@use '../../scss/abstracts/mixins' as *;
@use '../abstracts/media-mixins' as *;

.services {
  margin-bottom: 168px;
}

.servicesContainer {
  padding: 0 30px;
  @include mainContainer;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.servicesTitles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servicesTitle {
  @include sectionTitle;
  display: flex;
  align-content: center;
  gap: 15px;
}

.servicesSubMark {
  @include sectionSubMark;
}

.servicesCards {
  display: flex;
  align-items: center;
  gap: 16px;
}

.servicesCard {
  @include servicesCard;
  position: relative;
}

.servicesCardTitle {
  @include servicesTitle;
}

.firstTitle {
  max-width: 100%;
}

.servicesCardSubTitle {
  @include servicesSubTitle;
  min-height: 100px;
}

.more {
  margin-top: 22px;
  color: color.$primary-link-color;
  background-color: transparent;
}

.servicesCardImage {
  position: absolute;
  right: 32px;
  bottom: 36px;
}

@include byTablet {
  .servicesTitle {
    @include sectionTitleMedium;
  }
  .servicesCard {
    padding: 32px;
  }
  .servicesCardTitle {
    font-size: size.$primary-subMain-size;
  }

  .servicesCardImage {
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
}

@include byTabletSmall {
  .servicesTitle {
    @include sectionTitleSmall;
  }
  .servicesCards {
    flex-direction: column;
  }
  .servicesCard {
    max-width: 100%;
    max-height: 380px;
  }
}

@include toMobileLarge {
  .servicesCardSubTitle {
    max-width: 350px;
  }
  .servicesCard {
    max-height: 295px;
  }
  .servicesCardImage {
    max-width: 100px;
    max-height: 100px;
  }
}

@include toSmallTitle {
  .servicesTitle {
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }
}


@include toMobile {
  .servicesCardImage {
    bottom: 15px;
  }
}