@use '../abstracts/globals' as size;
@use '../colors/colors' as color;
@use '../abstracts/mixins' as *;
@use '../abstracts/media-mixins' as *;

.software {
  margin-bottom: 160px;
}

.softwareContainer {
  @include mainContainer;
  padding: 0 30px;
  max-width: 1440px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.softwareTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.softwareTitle {
  @include sectionTitle;
}

.titleSubMark {
  @include sectionSubMark;
}

.designSourceBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.designBlock {
  @include defaultBlock(color.$primary-dark-green);
}

.sourceBlock {
  @include defaultBlock(color.$primary-light);
}

.designTitle {
  @include blockTitle(color.$primary-natural-white);
}

.sourceTitle {
  @include blockTitle(color.$primary-link-color);
}

.designItems,
.sourceItems {
  width: 100%;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.designItem,
.sourceItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.designItem {
  @include itemSmallContainer(color.$primary-list-container-bg);
}

.sourceItem {
  @include itemSmallContainer(color.$primary-light-yellow);
}

.designItemTitle,
.sourceItemTitle {
  line-height: 218%;
  font-size: size.$primary-item-small-title;
}

.bigMaxWidth {
  max-width: 213px;
}

.bixMaxWidthLarge {
  max-width: 170px;
}

.maxWidthLargeSecondary {
  max-width: 154px;
}

.softwareImageButtonSubBlock {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#buttonAbsolute {
  position: relative;
  bottom: 40px;
}

.primaryButton {
  @include buttonAbsolute(
    2px solid color.$primary-natural-white,
    color.$primary-natural-white,
    149px
  );
}

.secondaryButton {
  @include buttonAbsolute(
    2px solid color.$primary-link-color,
    color.$primary-link-color,
    171px
  );
}

.blockImage {
  max-width: 100%;
  object-fit: cover;
}

@include byTablet {
  .softwareTitle {
    @include sectionTitleMedium;
  }
}

@include byTabletSmall {
  .softwareTitle {
    @include sectionTitleSmall;
  }
  .designBlock,
  .sourceBlock {
    padding: 25px 0 0 25px;
    max-height: 402px;
    max-width: 100%;
  }
  .designTitle,
  .sourceTitle {
    font-size: size.$primary-media-subTitle;
  }
  .blockImage {
    max-height: 100%;
  }
  .designSourceBlock {
    flex-direction: column;
  }
}

@include toMobileLarge {
  .softwareTitle {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

@include toSmallTitle {
  .softwareTitle {
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }
}

@include toMobile {
    .softwareContainer {
      @include containerPaddings;
  }
  .blockImage {
    max-width: 55%;
  }
  .designBlock {
    max-height: 350.5px;
  }
  .sourceBlock {
    max-height: 400px;
  }
  .designItem {
    max-width: 120px;
  }
  .sourceItems {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
