@use '../../scss/colors/colors' as color;
@use '../../scss/abstracts/globals' as size;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/media-mixins' as *;

.sustainability {
  margin-bottom: 160px;
}

.sustainabilityContainer {
  @include mainContainer;
  max-width: 1440px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sustainabilityTitleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sustainabilityTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 125%;
  color: color.$primary-link-color;
  font-size: size.$primary-products-size;
}

.sustainabilityMark {
  color: color.$primary-light-gray;
}

.sustainabilityItemsBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 40px 0 0 0;
  width: 100%;
  border-radius: 16px;
  max-width: 536px;
  height: 592px;
  background: color.$primary-dark-green;
}

.titlesItemsBlock {
  position: relative;
  padding-left: 40px;
}

.itemsList {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: -85px;
}

.item {
  color: color.$primary-natural-white;
  font-size: size.$primary-link-size;
}

.light-bg {
  background: color.$primary-light-yellow;
  position: relative;
}

.primaryBannerImage {
  width: 100%;
  object-fit: cover;
}

.secondaryBannerImage {
  width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: -45px;
}

.itemSubtitle {
  line-height: 200%;
  text-transform: uppercase;
  font-size: size.$primary-small-title-size;
  color: color.$primary-natural-white;
}

.secondarySubTitle,
.secondaryTitleColor {
  color: color.$primary-link-color !important;
}

.readMoreButton {
  position: absolute;
  bottom: -115px;
  border: 2px solid color.$primary-link-color;
  border-radius: 2px;
  width: 100%;
  max-width: 118px;
  line-height: 100%;
  padding: 14px 18px;
  color: color.$primary-link-color;
  background: transparent;
}

.itemTitle {
  width: 100%;
  max-width: 350px;
  line-height: 133%;
  font-size: size.$primary-card-title;
  color: color.$primary-natural-white;
}

@include byTablet {
  .sustainabilityTitle {
    @include sectionTitleMedium;
  }
}

@include byTabletSmall {
  .sustainabilityTitle {
    @include sectionTitleSmall;
  }
  .itemBlock {
    max-height: 450px;
    max-width: 100%;
  }
  .itemTitle {
    font-size: size.$primary-subMain-size;
  }
  .sustainabilityItemsBlock {
    flex-direction: column;
  }
  .primaryBannerImage {
    position: absolute;
    right: 0;
  }
  .primaryBannerImage,
  .secondaryBannerImage {
    max-height: 83%;
    max-width: 75%;
  }
  .secondaryBannerImage {
    bottom: 0;
  }
}

@include toMobileLarge {
  .itemBlock {
    position: relative;
  }
  .primaryBannerImage {
    right: 1px;
    top: 140px;
  }
}

@include toMobile {
  .sustainabilityTitle {
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }
  .primaryBannerImage {
    top: 220px;
  }
  .titlesItemsBlock {
    padding-left: 20px;
  }
}
