.header {
  border-bottom: 1px solid #e7e7e7;
  min-height: 70px;
}

.headerTopNav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  border-bottom: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.navMenuListItem:not(:first-child) {
  border-left: 1px solid #e7e7e7;
}

.navMenuListItem:last-child {
  border-right: 1px solid #e7e7e7;
}

.navMenuListItem:first-child {
  padding-left: 0;
}

.navMenuListItem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 31px;
}

.headerTopNav .headerTopNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}

.headerNav > .headerNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.menuListItem > .menuListLink,
.featuresSignIn {
  font-size: 14px;
  color: #2f2f2f;
  line-height: 171%;
}

.featuresSignIn {
  padding-right: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 55px;
}

.headerFeaturesForm {
  width: 100%;
  max-width: 279px;
}
@media (585px >= width) {
  .headerFeaturesForm {
    display: none;
  }
}

.headerFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.walletIcon,
.basketIcon {
  width: 24px;
  height: 24px;
}

[type=text] {
  width: 100%;
  max-width: 259px;
  height: 30px;
  border: 1px solid #e7e7e7;
  background: #f5f5f5;
  padding: 10px;
  color: #2f2f2f;
  caret-color: #2f2f2f;
}

.featuresNavIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

@media only screen and (1101px >= width) {
  .headerContainer {
    padding: 18px 45px;
  }
  .walletIcon,
  .basketIcon {
    max-width: 20px;
    max-height: 20px;
  }
}
@media only screen and (900px >= width) {
  .headerNav {
    display: none;
  }
  .navMenuListItem {
    font-size: 12px;
  }
}
@media only screen and (768px >= width) {
  .navMenuListItem {
    padding: 0 10px;
  }
  .featuresSignIn {
    font-weight: 500;
  }
}
@media only screen and (525px >= width) {
  .headerContainer {
    padding-inline: 20px;
  }
  .headerTopNav {
    width: 100%;
    padding-inline: 20px;
  }
  .navMenuListItem {
    font-size: 10px;
  }
  .navMenuListItem:nth-child(3) {
    display: none;
  }
  .navMenuListItem:nth-child(2) {
    border-right: 1px solid #e7e7e7;
  }
}