.header {
  border-bottom: 1px solid #e7e7e7;
  height: 100px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  -webkit-transition: background 0.5s linear 0s;
  transition: background 0.5s linear 0s;
}

.active {
  background: #e7e7e7;
  max-height: 100px;
  -webkit-box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.lightItem {
  color: #fff;
  border-right: 2px solid #2f2f2f;
}

.border-bottom {
  -webkit-transition: all 0.5s linear 0s !important;
  transition: all 0.5s linear 0s !important;
  border-bottom: 2px solid #2f2f2f !important;
}

.headerTopNav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  border-bottom: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-transition: color 0.8s linear 0s;
  transition: color 0.8s linear 0s;
}

.headerLogoIcon {
  -webkit-transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  cursor: pointer;
}
.headerLogoIcon:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.navMenuListItem:not(:first-child) {
  border-left: 1px solid #e7e7e7;
}

.navMenuListItem:last-child {
  border-right: 1px solid #e7e7e7;
}

.navMenuListItem:first-child {
  padding-left: 0;
}

.navMenuListItem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 31px;
}

.headerTopNav .headerTopNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}

.headerNav > .headerNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
@media (1024px >= width) {
  .headerNav > .headerNavMenu {
    display: none;
  }
}

.menuListItem > .menuListLink,
.featuresSignIn {
  font-size: 14px;
  color: #2f2f2f;
  line-height: 171%;
}

.menuListLink:hover {
  -webkit-transition: color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  color: #c5c5c5;
}

.menuListItem {
  position: relative;
}

.menuListItem::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 2.5px;
  border-radius: 2px;
  background-color: #c5c5c5;
  -webkit-transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menuListItem:hover::after {
  opacity: 1;
  width: 100%;
}

.featuresSignIn {
  padding-right: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 55px;
}

.headerFeaturesForm {
  width: 100%;
  max-width: 279px;
}
@media (585px >= width) {
  .headerFeaturesForm {
    display: none;
  }
}

.headerFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.walletIcon,
.basketIcon {
  width: 24px;
  height: 24px;
}

[type=text] {
  width: 100%;
  max-width: 259px;
  height: 30px;
  border: 1px solid #e7e7e7;
  background: #f5f5f5;
  padding: 10px;
  color: #2f2f2f;
  caret-color: #2f2f2f;
}

.featuresNavIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

@media only screen and (1101px >= width) {
  .headerContainer {
    padding: 18px 45px;
  }
  .walletIcon,
  .basketIcon {
    max-width: 20px;
    max-height: 20px;
  }
}
@media only screen and (900px >= width) {
  .headerNav {
    display: none;
  }
  .navMenuListItem {
    font-size: 12px;
  }
}
@media only screen and (768px >= width) {
  .navMenuListItem {
    padding: 0 10px;
  }
  .featuresSignIn {
    font-weight: 500;
  }
}
@media only screen and (525px >= width) {
  .headerContainer {
    padding-inline: 20px;
  }
  .headerTopNav {
    width: 100%;
    padding-inline: 20px;
  }
  .navMenuListItem {
    font-size: 10px;
  }
  .navMenuListItem:nth-child(3) {
    display: none;
  }
  .navMenuListItem:nth-child(2) {
    border-right: 1px solid #e7e7e7;
  }
  .headerLogoIcon {
    max-width: 80px;
  }
  .compainsTitle {
    display: none;
  }
}