$primary-link-color: #2f2f2f;
$primary-input-border: #e7e7e7;
$primary-input-background: #f5f5f5;
$primary-hero-background: #f6f8fa;
$primary-customize-color: #3b61ff;
$primary-natural-white: #fff;
$primary-light-gray: #949494;
$primary-gray-circle: #c5c5c5;
$primary-dark-green: #5f6455;
$primary-light-yellow: #e7e1c3;
