@use '../../scss/colors/colors' as color;
@use '../../scss/abstracts/globals' as size;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/media-mixins' as *;

.footer {
  padding: 0 30px;
}

.footerContainer {
  @include mainContainer;
  max-width: 1440px;
  padding-inline: 32px;
  margin-block-end: 32px;
  padding-block-end: 32px;
  height: 100%;
  background: color.$primary-banner-background;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.footerTopInfoBlock {
  padding: 39px 0px 32px 0px;
}

.topInfoBlockCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topInfoCard {
  width: 100%;
  max-width: 309px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.topInfoImage {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.smallInfoImage {
  height: 136px;
  object-fit: contain;
}

.topInfoCardTitle {
  line-height: 150%;
  color: color.$primary-link-color;
}

.topInfoCardSubTitle {
  line-height: 171%;
  font-size: size.$primary-link-size;
}

.justFoundBlock {
  width: 100%;
  max-width: 287px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.justFoundBlock > .justFoundTitle {
  line-height: 133%;
  width: 100%;
  max-width: 252px;
  color: color.$primary-link-color;
  font-size: size.$primary-card-title;
}

.justFoundIconsBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.justFoundSubTitle {
  line-height: 300%;
  color: color.$primary-link-color;
  font-size: size.$primary-just-found-subTitle;
}

.addTitle {
  line-height: 200%;
  color: color.$primary-link-color;
  font-size: size.$primary-small-title-size;
}

.footerMenu {
  display: flex;
  gap: 68px;
  padding-bottom: 71px;
  border-bottom: 1.5px solid color.$primary-gray-circle;
}

.footerMenuItems {
  display: flex;
  gap: 137px;
  @media (630px >= width) {
    display: grid;
  }
}

.primaryMenu {
  display: flex;
  flex-direction: column;
  gap: 23px;
  @media (600px >= width) {
    flex-direction: row;
    gap: 118px;
  }
}

.companyAndSecondaryBlock {
  display: flex;
  gap: 100px;
}

.sustainabilityMenu,
.designMenu,
.companyMenu,
.resourcesMenu,
.contactMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuFlex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.secondaryMenu {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media (600px >= width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

#title {
  line-height: 150%;
  color: color.$primary-link-color;
}

.footerMenuListItem {
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
}

.footerListItemCareers {
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
  display: flex;
  align-items: center;
  gap: 5px;
}

#hiringSubMark {
  display: block;
  width: 100%;
  max-width: 77px;
  padding: 4px;
  background: color.$primary-customize-color;
  line-height: 160%;
  text-transform: uppercase;
  color: color.$primary-natural-white;
  font-size: size.$primary-hiring-label;
}

.footerCopyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrightTitles {
  display: flex;
  align-items: center;
  gap: 12px;
}

.copyrightTitle {
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
}

.copyrightSubTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
  &::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: color.$primary-link-color;
  }
}

.socialIconsLogo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.trustpilotLogo {
  margin-block-end: 4px;
}

.footerBottomMenu {
  @include mainContainer;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 48px;
}

.bottomMenuInformation {
  display: flex;
  flex-direction: column;
}

.paymentTitle,
.paymentSubTitle {
  line-height: 200%;
  color: color.$primary-link-color;
  font-size: size.$primary-small-title-size;
}

.bottomAddress {
  display: flex;
  flex-direction: column;
  line-height: 200%;
  color: color.$primary-link-color;
  font-size: size.$primary-small-title-size;
  font-style: normal;
}

.paymentIconsItems {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-block-start: 8px;
}

.paymentIcon {
  padding: 4px 5px;
  border: 2px solid color.$primary-input-border;
}

@include byTablet {
  .footerMenuItems {
    gap: 60px;
  }
  .footerMenu {
    justify-content: space-between;
  }
  .justFoundBlock {
    max-width: 230px;
    gap: 15px;
  }
  .justFoundBlock > .justFoundTitle {
    font-size: size.$primary-subMain-size;
  }
  .justFoundIcon {
    max-width: 80%;
    max-height: 80%;
  }
}

@include byTabletSmall {
  .footerMenu {
    flex-direction: column;
  }
  .footerMenuItems {
    justify-content: space-between;
  }
  .copyrightTitles {
    flex-direction: column;
    gap: 2px;
    align-items: start;
  }
  .copyrightSubTitle::before {
    display: none;
  }
}

@include toMobileLarge {
  .paymentIcon {
    max-width: 32px;
    max-height: 32px;
    border-width: 1px;
  }
  .socialIconsLogo {
    flex-direction: column-reverse;
  }
  .footerContainer {
    gap: 35px;
  }
  .smallInfoImage {
    max-height: 90px;
  }
  .footerContainer {
    padding-inline: 15px;
    padding-block-end: 10px;
    gap: 20px;
  }
  .footerCopyright {
    flex-direction: column;
    gap: 15px;
  }
  .copyrightTitles {
    align-items: center;
  }
  .paymentSubTitle {
    max-width: 150px;
  }
}

@include toMobile {
  .footer {
    @include containerPaddings;
  }
  .companyAndSecondaryBlock,
  .primaryMenu {
    max-width: 100%;
  }
  .primaryMenu {
    gap: 103px;
  }
  .companyAndSecondaryBlock {
    gap: 70px;
  }
  .footerMenuItems {
    max-width: 100%;
  }

  .footerTopInfoBlock {
    padding: 30px 0px 25px 0px;
  }

  .secondaryMenu {
    flex-direction: column;
    gap: 20px;
    justify-content: start;
  }
  .footerBottomMenu {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .paymentSubTitle {
    max-width: 100%;
  }
  .bottomAddress {
    gap: 20px;
    flex-direction: row;
  }

  .topInfoCardTitle,
  .topInfoCardSubTitle {
    font-size: size.$primary-hiring-label;
  }
}
