@use '../../scss/colors/colors' as color;
@use '../../scss/abstracts/globals' as size;
@use '../../scss/abstracts/mixins' as *;

.footer {
  min-height: 100vh;
  padding: 0 30px;
}

.footerContainer {
  @include mainContainer;
  max-width: 1440px;
  padding-inline: 32px;
  padding-block-end: 32px;
  height: 100%;
  background: color.$primary-banner-background;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.footerTopInfoBlock {
  padding: 39px 0px 32px 0px;
}

.topInfoBlockCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topInfoCard {
  width: 100%;
  max-width: 309px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.topInfoImage {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.smallInfoImage {
  height: 136px;
  object-fit: contain;
}

.topInfoCardTitle {
  line-height: 150%;
  color: color.$primary-link-color;
}

.topInfoCardSubTitle {
  line-height: 171%;
  font-size: size.$primary-link-size;
}

.justFoundBlock {
  width: 100%;
  max-width: 287px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.justFoundBlock > .justFoundTitle {
  line-height: 133%;
  width: 100%;
  max-width: 252px;
  color: color.$primary-link-color;
  font-size: size.$primary-card-title;
}

.justFoundIconsBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.justFoundSubTitle {
  line-height: 300%;
  color: color.$primary-link-color;
  font-size: size.$primary-just-found-subTitle;
}

.addTitle {
  line-height: 200%;
  color: color.$primary-link-color;
  font-size: size.$primary-small-title-size;
}

.footerMenu {
  display: flex;
  gap: 68px;
  padding-bottom: 71px;
  border-bottom: 1.5px solid color.$primary-gray-circle;
}

.footerMenuItems {
  display: flex;
  gap: 137px;
}

.primaryMenu {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.sustainabilityMenu,
.designMenu,
.companyMenu,
.resourcesMenu,
.contactMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuFlex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.secondaryMenu {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#title {
  line-height: 150%;
  color: color.$primary-link-color;
}

.footerMenuListItem {
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
}

.footerListItemCareers {
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
  display: flex;
  align-items: center;
  gap: 5px;
}

#hiringSubMark {
  display: block;
  width: 100%;
  max-width: 77px;
  padding: 4px;
  background: color.$primary-customize-color;
  line-height: 160%;
  text-transform: uppercase;
  color: color.$primary-natural-white;
  font-size: size.$primary-hiring-label;
}

.footerCopyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrightTitles {
  display: flex;
  align-items: center;
  gap: 12px;
}

.copyrightTitle {
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
}

.copyrightSubTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 171%;
  color: color.$primary-link-color;
  font-size: size.$primary-link-size;
  &::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: color.$primary-link-color;
  }
}


.socialIconsLogo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}
