@use '../abstracts/mixins' as *;
@use '../colors/colors' as color;
@use '../abstracts/globals' as size;

.header {
  border-bottom: 1px solid color.$primary-input-border;
  height: 100px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  transition: background 0.5s linear 0s;
}

.active {
  background: color.$primary-input-border;
  max-height: 100px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.lightItem {
  color: color.$primary-natural-white;
  border-right: 2px solid color.$primary-link-color;
}

.border-bottom {
  transition: all 0.5s linear 0s !important;
  border-bottom: 2px solid color.$primary-link-color !important;
}

.headerTopNav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  border-bottom: 1px solid color.$primary-input-border;
  display: flex;
  align-items: center;
  height: 40px;
  transition: color 0.8s linear 0s;
}

.headerLogoIcon {
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  cursor: pointer;
  &:hover {
    transform: scale(1.12);
  }
}

.navMenuListItem:not(:first-child) {
  border-left: 1px solid color.$primary-input-border;
}

.navMenuListItem:last-child {
  border-right: 1px solid color.$primary-input-border;
}

.navMenuListItem:first-child {
  padding-left: 0;
}

.navMenuListItem {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 31px;
}

.headerTopNav .headerTopNavMenu {
  display: flex;
  align-items: center;
}

.headerContainer {
  @include mainContainer;
  max-width: 1440px;
  padding: 20px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.headerNav > .headerNavMenu {
  display: flex;
  align-items: center;
  gap: 32px;
  @media (1024px >= width) {
    display: none;
  }
}

.menuListItem > .menuListLink,
.featuresSignIn {
  font-size: size.$primary-link-size;
  color: color.$primary-link-color;
  line-height: 171%;
}

.menuListLink:hover {
  transition: color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  color: color.$primary-gray-circle;
}

.menuListItem {
  position: relative;
}

.menuListItem::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 2.5px;
  border-radius: 2px;
  background-color: color.$primary-gray-circle;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
    left 0.3s ease-in-out;
  transform: translateX(-50%);
}

.menuListItem:hover::after {
  opacity: 1;
  width: 100%;
}

.featuresSignIn {
  padding-right: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 55px;
}

.headerFeaturesForm {
  width: 100%;
  max-width: 279px;
  @media (585px >= width) {
    display: none;
  }
}

.headerFeatures {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.walletIcon,
.basketIcon {
  width: 24px;
  height: 24px;
}

[type='text'] {
  width: 100%;
  max-width: 259px;
  height: 30px;
  border: 1px solid color.$primary-input-border;
  background: color.$primary-input-background;
  padding: 10px;
  color: color.$primary-link-color;
  caret-color: color.$primary-link-color;
}

.featuresNavIcons {
  display: flex;
  align-items: center;
  gap: 12px;
}

@include byTablet {
  .headerContainer {
    padding: 18px 45px;
  }
  .walletIcon,
  .basketIcon {
    max-width: 20px;
    max-height: 20px;
  }
}

@include byTabletSmall {
  .headerNav {
    display: none;
  }
  .navMenuListItem {
    font-size: size.$primary-small-title-size;
  }
}

@include toMobileLarge {
  .navMenuListItem {
    padding: 0 10px;
  }
  .featuresSignIn {
    font-weight: 500;
  }
}

@include toMobile {
  .headerContainer {
    padding-inline: 20px;
  }
  .headerTopNav {
    width: 100%;
    padding-inline: 20px;
  }
  .navMenuListItem {
    font-size: size.$primary-hiring-label;
  }
  .navMenuListItem:nth-child(3) {
    display: none;
  }
  .navMenuListItem:nth-child(2) {
    border-right: 1px solid color.$primary-input-border;
  }
  .headerLogoIcon {
    max-width: 80px;
  }
  .compainsTitle {
    display: none;
  }
}
