@use '../abstracts/mixins' as *;
@use '../colors/colors' as color;
@use '../abstracts/globals' as size;

.header {
  border-bottom: 1px solid color.$primary-input-border;
  min-height: 70px;
}

.headerTopNav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
  border-bottom: 1px solid color.$primary-input-border;
  display: flex;
  align-items: center;
  height: 40px;
}

.navMenuListItem:not(:first-child) {
  border-left: 1px solid color.$primary-input-border;
}

.navMenuListItem:last-child {
  border-right: 1px solid color.$primary-input-border;
}

.navMenuListItem:first-child {
  padding-left: 0;
}

.navMenuListItem {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 31px;
}

.headerTopNav .headerTopNavMenu {
  display: flex;
  align-items: center;
}

.headerContainer {
  @include mainContainer;
  max-width: 1440px;
  padding: 20px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.headerNav > .headerNavMenu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menuListItem > .menuListLink,
.featuresSignIn {
  font-size: size.$primary-link-size;
  color: color.$primary-link-color;
  line-height: 171%;
}

.featuresSignIn {
  padding-right: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 55px;
}

.headerFeaturesForm {
  width: 100%;
  max-width: 279px;
}

.headerFeatures {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.walletIcon,
.basketIcon {
  width: 24px;
  height: 24px;
}

[type='text'] {
  width: 100%;
  max-width: 259px;
  height: 30px;
  border: 1px solid color.$primary-input-border;
  background: color.$primary-input-background;
  padding: 10px;
  color: color.$primary-link-color;
  caret-color: color.$primary-link-color;
}

.featuresNavIcons {
  display: flex;
  align-items: center;
  gap: 12px;
}
