$primary-link-size: 14px;
$primary-main-size: 40px;
$primary-subMain-size: 20px;
$primary-customize-size: 23px;
$primary-list-item-size: 16px;
$primary-small-title-size: 12px;
$primary-products-size: 32px;
$primary-card-title: 24px;
$primary-item-small-title: 11px;
$primary-just-found-subTitle: 8px;