@use '../colors/colors' as color;
@use '../abstracts/globals' as size;

@mixin mainContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin basicButton(
  $border,
  $width: 100%,
  $maxWidth,
  $background,
  $border-radius: 4px
) {
  border: $border;
  width: $width;
  max-width: $maxWidth;
  background: $background;
  border-radius: $border-radius;
  padding: 16px 42px;
}

@mixin sectionTitle {
  line-height: 125%;
  color: color.$primary-link-color;
  font-size: size.$primary-products-size;
}

@mixin sectionSubMark {
  line-height: 125%;
  color: color.$primary-light-gray;
}

@mixin defaultBlock($background) {
  padding: 40px 0 0 40px;
  width: 100%;
  max-width: 560px;
  border-radius: 16px;
  height: 426px;
  background: $background;
}

@mixin blockTitle($color) {
  font-size: size.$primary-card-title;
  line-height: 133%;
  color: $color;
  padding-bottom: 1rem;
}

@mixin itemSmallContainer($background) {
  border-radius: 24px;
  width: 100%;
  max-width: 134px;
  height: 40px;
  background: $background;
  justify-content: center;
  display: flex;
  align-items: center;
}

@mixin buttonAbsolute($border, $color, $maxWidth) {
  width: 100%;
  line-height: 100%;
  height: 49px;
  border: $border;
  max-width: $maxWidth;
  color: $color;
  border-radius: 2px;
  background-color: transparent;
}

@mixin servicesCard {
  width: 100%;
  border-radius: 16px;
  max-width: 368px;
  height: 495px;
  background: color.$primary-hero-background;
  padding: 65px 0 0 32px;
  padding-right: 15px;
}

@mixin servicesTitle {
  line-height: 133%;
  color: color.$primary-link-color;
  font-size: size.$primary-card-title;
  max-width: 148px;
  height: 70px;
}

@mixin servicesSubTitle {
  line-height: 150%;
  color: color.$primary-link-color;
  max-width: 222px;
}

@mixin needCardBgImage {
  width: 516px;
  max-width: 100%;
  border-radius: 16px;
  height: 752px;
}
